* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Barlow, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Barlow:300,400|Pacifico|Lilita+One&display=swap');

:root {
  --theme-color: #ffaa00;
  --theme-button-hover: #ffb624;
  --red-theme-color: #f81a1a;
  --header-font: Lilita One, sans-serif;
}

%flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--text-color);
}

button {
  border: none;
  background: none;
}

.app {
  height: calc(100% - 80px);
  position: relative;
  top: 80px;
}

.error-message {
  margin: 20px auto;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  padding: 20px 30px;
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}

.loading-component {
  @extend %flex-center-column;
  height: 100%;
  width: 100%;
  background-color: #ffb624;

  img {
    width: 70px;
  }

  .loading-image {
    margin-top: -10px;
  }

  span {
    color: #fff;
    font-size: 1.3em;
  }
}

.checkout-button {
  width: 100%;
  background-color: var(--theme-color);
  color: #fff;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-size: 1.1em;
  font-family: var(--header-font);
  text-transform: uppercase;

  &:disabled {
    background-color: rgb(118, 118, 118);
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: var(--theme-button-hover);
  }
}

.navbar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 2;
  display: flex;
  background-color: #fff;
  color: var(--theme-color);
  -webkit-box-shadow: 0 1px 2px #777;
  -moz-box-shadow: 0 2px 1px #777;
  box-shadow: 0 4px 15px rgba(192, 142, 77, 0.568);
  padding: 0 20px;
  box-sizing: border-box;

  span {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;

    h1 {
      font-family: 'Pacifico', cursive;
      font-size: 2em;
      font-weight: 100;
      margin-left: 10px;
    }

    img {
      width: 50px;
    }
  }

  .action-links {
    display: none;
  }

  .navbar-links {
    display: none;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9em;

      &:not(:nth-last-of-type(1)) {
        margin-right: 20px;
      }
    }
  }

  .create-an-order-link {
    background-color: var(--theme-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    width: auto;
    text-align: center;
    font-size: 0.9em;
    margin: 0 10px;

    &:hover {
      background-color: var(--theme-button-hover);
    }
  }

  .shopping-bag-span {
    width: 110px;
    height: 35px;
    border: 1px solid var(--theme-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  .action-links {
    margin-left: auto;

    img {
      width: 20px;
      margin-left: 8px;
    }
  }
}

.quantity-buttons {
  button {
    fill: var(--theme-color);

    &:disabled {
      fill: #aaaaaa !important;
      pointer-events: none;
    }
  }

  span {
    margin: 0 10px;
  }

  svg {
    width: 14px;
  }
}

.container {
  width: 100%;

  .shopping-bag {
    width: 380px;
    background-color: #f2f2f2;
    margin: 10px 20px;
    z-index: 2;
    float: right;
    border-radius: 5px;
    top: 60px;
    right: 0;
    position: fixed;
    animation: fadeIn ease 0.3s;
    box-shadow: 0px 0px 4px 0px rgba(73, 73, 73, 0.2);

    @keyframes fadeIn {
      0% {
        opacity: 0;
        top: 50px;
      }
      100% {
        opacity: 1;
        top: 60px;
      }
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
        top: 60px;
      }
      100% {
        opacity: 0;
        top: 50px;
      }
    }

    .shopping-bag-items {
      padding: 15px;
      max-height: 450px;
      overflow-x: auto;

      li {
        margin-bottom: 18px;
        padding: 20px;
        background-color: #fff;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        .item-info {
          margin-bottom: 4px;
          padding-bottom: 30px;
          border-bottom: 1px solid rgb(220, 220, 220);
          font-weight: bold;
          color: #382e36;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .item-sauces {
          margin-top: 5px;
          font-size: 0.85em;
          text-transform: uppercase;
          font-weight: 400;
          color: #4b4b4b;
        }

        .quantity-section {
          margin-top: 10px;
        }
      }

      .removed {
        -webkit-animation: disapear 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation: disapear 0.7s;
        animation-fill-mode: forwards;
      }

      @-webkit-keyframes disapear {
        50% {
          -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
        }

        100% {
          -webkit-transform: translateX(200%);
          transform: translateX(200%);
        }
      }

      @keyframes disapear {
        50% {
          -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
        }

        100% {
          -webkit-transform: translateX(200%);
          transform: translateX(200%);
        }
      }
    }

    .remove-item-button {
      color: var(--theme-color);
      font-size: 0.9em;
      font-weight: 400;
    }
  }
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(0);

  .modal-content-container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 95%;
    max-height: 600px;
    margin: 20px 0;
    position: relative;
    top: 0;
    box-sizing: border-box;
    border-radius: 5px;
    overflow-x: auto;
    animation: show 0.2s;

    @keyframes show {
      from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
      }
      to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }
    }

    @keyframes hide {
      from {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }
      to {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
      }
    }

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
      border-radius: 5px 5px 0 0;

      span {
        display: flex;
        align-items: center;
      }

      img {
        display: none;
      }

      h3 {
        font-family: var(--header-font);
        margin-left: 10px;
        color: #3b3b3b;
      }

      button {
        margin-left: 10px;
        background-color: var(--theme-color);
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }

    .modal-content {
      padding: 10px 20px;

      img {
        width: 13px;
      }

      h2 {
        width: 100%;
        text-align: left;
        font-size: 1.2em;
        margin: 5px 0;

        &::selection {
          background-color: rgba(30, 143, 255, 0.616);
          ::after {
            border-bottom: 1px solid #f81a1a;
          }
        }
        &::-moz-selection {
          background-color: rgba(30, 143, 255, 0.616);
        }
      }

      .increment-item {
        width: 15px;
      }

      hr {
        margin-top: 16px;
        border-top: 1px solid #d6d6d6;
      }

      .quantity-section {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 rgba(73, 73, 73, 0.2);
        margin: 10px 0;

        .quantity-buttons {
          display: flex;

          button {
            background-color: transparent;
          }
        }
      }

      .inputGroup {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
        border-radius: 10px;

        label {
          padding: 12px;
          display: block;
          text-align: left;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 50px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        input[type='radio']:checked ~ label {
          color: #fff;
          background-color: #f1c05c;

          &:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
          }
        }

        input[type='checkbox'] ~ label {
          border: 2px solid transparent;
        }

        input[type='checkbox']:checked ~ label {
          border: 2px solid #ebc77fb4;

          &:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
          }
        }

        input {
          width: 32px;
          height: 32px;
          order: 1;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          visibility: hidden;
        }
      }
    }

    //Order Processing Modal.js
    
    .spinner {
      width: 40px;
      height: 50px;
      text-align: center;
    }
    
    .spinner > div {
      background-color: var(--theme-color);
      height: 100%;
      width: 3px;
      display: inline-block;
      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
      margin: 0 2px;
    }
    
    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
    
    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    
    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
    
    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
    
    @-webkit-keyframes sk-stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
      20% { -webkit-transform: scaleY(1.0) }
    }
    
    @keyframes sk-stretchdelay {
      0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }

  }

  .order-procesing-modal {
    @extend %flex-center-column;
    height: 100px;
  }
}

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(242, 149, 21);
  background: linear-gradient(
    90deg,
    rgba(242, 149, 21, 1) 0%,
    rgba(255, 183, 1, 1) 35%,
    rgba(244, 180, 20, 1) 100%
  );
}

.kanapka-branding {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 80px !important;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    font-weight: 100;
    margin-left: 10px;
    color: #382e36;
  }

  img {
    width: 200px;
  }
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.not-found-component {
  background-color: #272831;
  height: 100%;

  > div {
    @extend %flex-center-column;
    height: 100%;
    color: #fff;

    h1 {
      font-size: 7em;
    }

    p {
      font-size: 1em;
      text-align: center;
      margin-bottom: 20px;
    }

    img {
      width: 100px;
    }

    a {
      background-color: var(--theme-color);
      width: 200px;
      padding: 15px;
      margin-top: 10px;
      border-radius: 25px;
      font-family: var(--header-font);
      font-size: 1.1em;
      text-transform: uppercase;
      text-align: center;
  
      &:hover {
        background: var(--theme-button-hover);
      }
    }
  }
}

.main-site-container {
  color: #fff;
}

.main-container-inner {
  @extend %flex-center-column;
  padding: 20px;
  flex-direction: column-reverse;
  margin-bottom: 100px;

  > div {
    @extend %flex-center-column;
    text-align: center;
  }

  h1 {
    font-size: 3em;
    font-weight: 100;
    font-family: var(--header-font);
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 30px;

    font-size: 1.1em;
  }

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 140px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

.paint {
  display: none;
}

.paint p {
  margin-top: 28px;
  margin-left: 40px;
  position: relative;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 100;
}

.cta-button {
  padding: 15px 50px;
  background-color: #ffcc66;
  color: var(--red-theme-color);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  transition-duration: 0.3s;
  display: flex;
  width: 220px;

  .gg-arrow-right {
    margin-left: 5px;
  }
}

.scroll-down-img {
  transition-duration: 0.3s;
}

.cta-button:hover,
.scroll-down-img:hover {
  transform: scale(1.1);
}

.scroll-down {
  display: flex;
  justify-content: center;
  margin: -10px 0;
}

.yellow-streak {
  width: 200px;
}

.important-section {
  height: auto;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: var(--red-theme-color);
    font-size: 2.5em;
    font-weight: 100;
    font-family: Pacifico;
  }

  img {
    margin: 10px 0;
  }

  p {
    color: #382e36;
  }
}

.food-icons {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 5px;
  margin-top: 10px;
}

.food-icons div {
  width: 140px;
  height: 140px;
  color: #382e36;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.food-icons div:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.food-icons div > img {
  width: 60px;
}

.food-icons .cupcake {
  width: 45px;
}

.food-icons .spaghetti {
  width: 65px;
}

.delivery-section {
  height: auto;
  padding: 60px 0;
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.delivery-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.pizza-man {
  width: 70%;
  max-width: 400px;
}

.paint-red {
  background: url('./assets/images/HomeAssets/red-paint-effect.svg') no-repeat;
  background-size: 100%;
  width: 80vw;
  max-width: 400px;
  height: 90px;
  margin-left: 50px;
  margin-top: 50px;
}

.paint-red h1 {
  margin-left: -100px;
  position: relative;
  font-size: 1em;
  font-weight: 900;
}

.popular-recipes-section > p:nth-of-type(1) {
  margin-bottom: 30px;
  margin-top: 20px;
}

.recipes-container {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  grid-gap: 80px;
  height: 100%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}

.recipes-container > div {
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
  padding-bottom: 25px;
}

.recipes-container > div:nth-child(1) div:nth-child(1) {
  background-image: url('./assets/images/HomeAssets/PopularRecipes/1.jpg');
}

.recipes-container > div:nth-child(2) div:nth-child(1) {
  background-image: url('./assets/images/HomeAssets/PopularRecipes/2.jpg');
}

.recipes-container > div:nth-child(3) div:nth-child(1) {
  background-image: url('./assets/images/HomeAssets/PopularRecipes/3.jpg');
}

.recipes-container > div:nth-child(4) div:nth-child(1) {
  background-image: url('./assets/images/HomeAssets/PopularRecipes/4.jpg');
}

.recipes-container > div:nth-child(5) div:nth-child(1) {
  background-image: url('./assets/images/HomeAssets/PopularRecipes/5.jpg');
}

.recipes-container > div:nth-child(6) div:nth-child(1) {
  background-image: url('./assets/images/HomeAssets/PopularRecipes/6.jpg');
}

.recipes-container > div div:nth-child(1) {
  height: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipes-container > div div:nth-child(2) {
  padding: 20px;
}

.recipes-container p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.recipes-container button,
.menu-show-button,
.contact-section button {
  background-color: var(--theme-color);
  color: #fff;
  font-size: 0.8em;
  border-radius: 30px;
  height: 40px;
  padding: 0 15px;
  display: flex;
  border: none;
  margin-top: 20px;
  margin-left: -1px;
}

.recipes-container button {
  height: auto;
  width: 100%;
  transition-duration: 0.3s;
}

.recipes-container button:hover {
  transform: scale(1.03);
}

.menu-show-button {
  background-color: var(--red-theme-color);
}

.recipes-container img {
  width: 20px;
  margin-right: 8px;
}

.recipe-info-div > p:nth-child(1) {
  font-size: 0.9em;
}

.recipe-info-div > p:nth-child(2) {
  font-weight: bold;
  font-size: 1em;
  color: #382e36;
  margin-bottom: 5px;
}

.recipe-info-div > p:nth-child(3) {
  font-size: 0.9em;
}

.recipe-info-div > div p {
  color: var(--red-theme-color);
  margin-top: 20px;
  margin-left: 15px;
}

.happy-hours-section {
  height: auto;
  width: auto;
  background-image: url('./assets/images/HomeAssets/happy-hours-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 4.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 2em;
    &:nth-of-type(1) {
      font-size: 1.5em;
    }
    &:nth-of-type(2) {
      margin-bottom: 20px;
      color: var(--red-theme-color);
    }
  }
}

.yellow-divs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 25px;
  background-color: rgba(56, 46, 54, 0.61);
  border-radius: 20px;
  justify-content: center;
  max-width: 900px;
}

.yellow-divs div {
  display: flex;
  align-items: center;
}

.yellow-divs > div div:nth-child(1) {
  background-color: var(--theme-color);
  min-width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  margin-right: 20px;
  border-radius: 20px;
}

.yellow-divs > div div:nth-child(2) {
  margin-right: 20px;
  text-align: center;
}

.testimonial-section {
  height: 75vh;
}

.testimonial-div {
  height: auto;
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  div {
    max-width: 500px;
    text-align: left;
    line-height: 1.8;
  }

  div:nth-child(1) {
    background-color: var(--red-theme-color);
    width: 150px;
    height: 150px;
    align-self: flex-end;
    border-radius: 10px;

    img {
      width: 200px;
      margin: -100px 0 0 50px;
    }
  }
}

.comma-img {
  width: 50px;
  align-self: flex-start;
  justify-self: flex-end;
}

.quote-div {
  display: flex;
  flex-direction: column;

  h4,
  h5 {
    color: #382e36;
  }
}

hr {
  border: none;
}

.hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border: 1px solid var(--red-theme-color);
  margin: 5px 0;
}

.benefits-section {
  height: auto;
  width: 100%;
  padding: 80px 15px;
  box-sizing: border-box;
  background-color: var(--theme-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px 30px;
  justify-items: center;
  align-content: center;
}

.benefits-section div {
  @extend %flex-center-column;
  width: 220px;
  height: 200px;
  padding: 20px;
  background-color: #fff;
  color: #382e36;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  text-align: center;
  font-size: 1em;

  img {
    width: 50px;
    height: 50px;
  }
}

.benefits-section p:nth-of-type(2) {
  color: #686868;
  font-size: 0.9em;
}

.benefits-section p:nth-of-type(2):before {
  content: '';
  display: block;
  margin: 10px auto;
  width: 20%;
  border-bottom: 2px solid var(--theme-color);
}

.contact-section {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr;

  > div:nth-child(1) {
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--red-theme-color);
  }

  > div:nth-child(2) {
    background-image: url('./assets/images/HomeAssets/NewYorkScreenshot.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-color: #fff !important;
  }

  button {
    width: 120px;
    padding: 0 30px;
    margin-bottom: 15px;
  }
  img {
    width: 40px;
    margin: auto;
  }
}

.clock {
  margin-top: 10px !important;
}

.location {
  max-width: 30px;
}

.contact-div div:nth-of-type(1) p:after {
  content: '';
  display: block;
  margin: 20px auto;
  width: 60%;
  border-bottom: 1px solid rgba(31, 30, 30, 0.678);
  text-align: left;
}

.contact-div p {
  line-height: 2;
}

.contact-div div {
  display: flex;
  flex-direction: column;
}

.socials {
  min-width: 200px;
  cursor: pointer;
}

.our-info-section {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  text-align: left;

  p {
    color: #382e36;
    max-width: 430px;
    line-height: 1.8;
  }

  h2 {
    color: var(--red-theme-color);
    font-weight: 100;
    margin-bottom: 20px;

    &:after {
      content: '';
      display: block;
      margin: 10px 0;
      width: 70px;
      border-bottom: 2px solid var(--theme-color);
      text-align: left;
    }
  }
}

.payments {
  min-width: 300px;
}

td,
th {
  color: #686868;
  font-weight: 100;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

.instagram-feed {
  height: auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  grid-auto-rows: 110px;
  grid-gap: 5px;
}

.instagram-feed div {
  width: 100px;
  height: 100px;
  background-color: #fff;
  background-position: center;
  border-radius: 10px;
}

.instagram-feed div:nth-child(1) {
  background-image: url('./assets/images/HomeAssets/Instagram-feed/1.png');
}

.instagram-feed div:nth-child(2) {
  background-image: url('./assets/images/HomeAssets/Instagram-feed/2.png');
}

.instagram-feed div:nth-child(3) {
  background-image: url('./assets/images/HomeAssets/Instagram-feed/3.png');
}

.instagram-feed div:nth-child(4) {
  background-image: url('./assets/images/HomeAssets/Instagram-feed/4.png');
}

.instagram-feed div:nth-child(5) {
  background-image: url('./assets/images/HomeAssets/Instagram-feed/5.png');
}

.instagram-feed div:nth-child(6) {
  background-image: url('./assets/images/HomeAssets/Instagram-feed/6.png');
}

.copyright {
  color: #686868;
  text-align: center;
  display: block;
  line-height: 4;
}

.copyright:before {
  content: '';
  display: block;
  margin-top: 10px;
  border-bottom: 2px solid rgb(175, 175, 172);
}

.header {
  background-color: #323231 !important;
  width: 100%;
  height: 160px;
  @extend %flex-center-column;

  h1 {
    color: #fff;
    font-family: var(--header-font);
    font-size: 3.9em;
    text-transform: uppercase;
  }
}

.menu-list-component {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 10px;

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 20px;
    justify-items: center;
    padding: 15px;
    box-sizing: border-box;
  }

  .card--img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card {
    background-color: #fff;
    width: 280px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    border: 2px #f4f1ef solid;

    &:hover {
      border: 2px var(--theme-color) solid;
      cursor: pointer;
    }
  }

  .card--info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px;
  }

  .card--category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
  }

  .card--title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: var(--header-font);
    color: #3b3b3b;
  }
}

.sign-up-component {
  @extend %flex-center-column;
  height: 100%;

  > div {
    @extend %flex-center-column;
    background-color: #fff;
    width: 650px;
    max-width: 90%;
    min-height: 520px;
    padding: 40px 0;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }

  h1 {
    font-weight: bold;
    font-size: 2.2em;
  }

  p {
    margin-top: 5px;
    width: 100%;

    a {
      color: #c08207;
    }
  }

  .sign-up-form {
    @extend %flex-center-column;
    width: 75%;

    span {
      width: 100%;
      color: #4b4b4b;
      margin-top: 10px;

      &:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        .field-divided {
          width: 49%;
        }
      }
    }

    label {
      width: 100%;
      margin-top: 10px;
    }

    input {
      width: 100%;
      height: 40px;
      outline: none;
      border: none;
      border-bottom: 2px solid #777;
      box-shadow: none !important;
      background-color: rgba(231, 231, 231, 0.616);
      padding: 5px;
      box-sizing: border-box;

      &:focus {
        border-color: var(--theme-color);
        border-width: medium medium 2px;
      }
    }

    .span-error-message {
      color: #cc0033;
      margin-top: 0;
    }
  }

  .sign-up-button {
    width: 100%;
    background-color: var(--theme-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3em;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-top: 10px;

    &:hover {
      background-color: var(--theme-button-hover);
    }

    &:disabled {
      background-color: rgb(118, 118, 118);
      cursor: not-allowed;
    }
  }
}

.checkout-component {
  @extend %flex-center-column;
  width: 560px;
  margin: 20px auto;

  .mobile-checkout-container {
    margin-top: 20px;
  }

  .checkout-cart-items {
    display: block;
    width: 95%;
    height: auto;
    padding: 35px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    margin-bottom: 20px;

    .items-list {
      margin: 20px 0;

      li {
        display: flex;
        margin-bottom: 10px;

        > span {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        img {
          width: 70px;
          border-radius: 10px;
          margin-right: 15px;
        }

        h2 {
          font-family: Barlow;
          font-size: 1em;
          margin-bottom: 3px;
        }

        .quantity-buttons {
          display: flex;

          .quanitity-value {
            margin-bottom: 3px;
          }

          .order-price-span {
            margin-left: 10px;
          }
        }
      }
    }

    .desktop-checkout-container {
      display: none;
    }

    .checkout-button {
      margin-top: 10px;
      border-radius: 5px;
    }

    .discount-code-container {
      display: flex;
      flex-direction: column;
      padding: 20px 0;

      label {
        margin-bottom: 5px;
      }

      input {
        padding: 7px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
      }

      button {
        border: 1px solid #e9a826;
        border-radius: 5px;
        padding: 0 15px;
        margin-left: 10px;
      }

      span {
        display: flex;
      }
    }

    .order-amount-section {
      > div {
        display: flex;
        justify-content: space-between;

        span {
          margin: 4px 0;
        }

        &:nth-of-type(4) {
          span {
            font-weight: bold;
          }
        }
      }
    }

    > div:nth-of-type(2) {
      border-bottom: 1px solid #7e7c7d;
      border-top: 1px solid #7e7c7d;
    }

    h2 {
      font: 1.5em Barlow;
    }
  }

  > div {
    height: 100%;
    @extend %flex-center-column;

    .checkout-form-inner-div {
      max-width: 700px;
    }

    .input-group {
      input,
      .user-email-span {
        margin-left: 68px;
      }
      .user-email-span {
        font-size: 1.1em;
      }
    }

    .checkout-form-inner-div:nth-of-type(2) {
      margin: 20px 0;
    }

    .checkout-form-inner-div,
    .input-group {
      padding: 35px;
      font: 1em 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
      background-color: #fff;
      border: 1px solid var(--theme-color);
      border-radius: 5px;

      h2 {
        font-size: 1.2em;
      }

      .heading-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }

      .step-indicator {
        font-size: 1.2em;
        background-color: #fdc147;
        padding: 5px 20px;
        border-radius: 5px;
        color: #fff;
        margin-right: 20px;
      }

      .other-card-info-span {
        display: flex;

        > span {
          width: 100%;

          input {
            width: 98.5%;
          }
        }
      }

      label {
        margin: 0 0 3px 0;
        padding: 0;
        display: block;
        font-weight: bold;
      }

      input,
      textarea,
      select {
        padding: 7px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
      }

      .phone-number-span {
        option {
          height: 1px !important;
        }
      }

      input:not([type='tel']),
      textarea,
      select {
        margin-bottom: 15px;
      }

      input[type='month'] {
        padding: 5px;
      }

      input:focus,
      textarea:focus,
      select:focus {
        border: 1px solid #88d5e9;
      }

      .field-divided {
        width: 49%;
      }

      .field-divided-thirds {
        width: 32.5%;
      }

      .field-long,
      .field-select {
        width: 100%;
      }

      button {
        margin-top: 10px;
        border-radius: 5px;
      }

      .field-textarea {
        height: 60px;
        resize: none;
      }
      .required {
        color: red;
      }
    }
  }
}

.success-order-component {
  @extend %flex-center-column;
  height: 100%;

  > div {
    max-width: 95%;
    width: 600px;
    border: 2px solid #17b978;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);

    h2 {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 10px;
    }

    h5 {
      font-size: 0.9em;
    }

    li {
      list-style: initial;
      margin-left: 20px;
    }

    a {
      margin-top: 20px;
    }

    .order-history {
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      background-color: #17b978;
      color: #fff;
    }
  }
}

.order-history-component {
  @extend %flex-center-column;
  width: 95%;
  max-width: 800px;
  padding: 10px;
  margin: auto;
  box-sizing: border-box;

  h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 200;
    width: 95%;
    max-width: 600px;
  }

  ul {
    max-width: 600px;
    width: 95%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;

    li {
      width: 100%;

      h3 {
        padding: 15px 10px;
        color: #382e36;
        border-radius: 5px 5px 0 0;
        font-family: monospace;
        font-size: 1.4em;

        span {
          font-family: monospace;
        }
      }
    }

    .order-placed-info {
      padding: 10px;
      background-color: #9c9c9c38;
      font-size: 0.9em;
    }
    
    .order-description {

      > div {
        padding: 5px 10px;

        &:nth-of-type(2n) {
          background-color: #ffc5507a;
          border-top: 1px solid #382e36;
          border-bottom: 1px solid #382e36;
        }
      }
    }
  }
}

@media (min-width: 501px) {
  .modal-header {
    img {
      display: block !important;
      width: 70px;
      border-radius: 10px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    .desktop {
      width: 100%;

      .navbar-links {
        display: flex;
        margin: 0 auto;
      }
    }

    .action-links {
      display: none;
    }
  }

  .not-found-component {
    > div {
  
      h1 {
        font-size: 15em;
      }
  
      p {
        font-size: 1.2em;
      }
  
      img {
        width: 200px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .navbar {
    .desktop {
      display: flex;
      width: 100%;
      justify-content: center;

      .navbar-links {
        margin: 0;
        margin-left: auto;
      }
    }

    .action-links {
      display: flex;
    }

    .mobile {
      display: none;
    }
  }

  .main-container {
    height: 100vh;
  }

  .main-container-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
    margin-bottom: 0;

    > div {
      display: block;
      text-align: left;
    }

    h1 {
      font-size: 5em;
      max-width: 600px;
    }

    img {
      max-width: 100%;
    }
  }

  .paint {
    background: url('./assets/images/HomeAssets/yellow-paint-mobile.svg')
      no-repeat 0 0;
    background-size: 60%;
    width: 400px;
    height: 180px;
    position: relative;
    margin-left: 80px;
    display: block;
  }

  .paint p {
    margin-top: 45px;
    font-size: 1.2em;
  }

  .paint {
    margin-left: 0;
    background: url('./assets/images/HomeAssets/Group1389.png') no-repeat 0 0;
    background-size: 100%;
    width: 550px;
    height: 200px;
    position: relative;
  }

  .yellow-streak {
    width: 380px;
  }

  .happy-hours-section {
    height: 80vh;
  }

  .contact-section {
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
  }

  .contact-section > div:nth-child(1) {
    padding: 20px 0 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: var(--red-theme-color);
  }

  .contact-section img {
    width: 40px;
    margin: 0;
  }

  .contact-div div:nth-of-type(1) p:after {
    width: 20%;
    margin: 20px 0;
  }

  .paint-red {
    background-size: 100%;
    height: 110px;
    margin-top: 30px;

    h1 {
      font-size: 1.1em;
      margin-top: -25px;
    }
  }

  .order-site-container {
    flex-direction: row;
  }

  .order-form {
    margin-right: 50px;
    margin-bottom: 0;
  }

  .kanapka-branding {
    justify-content: start;
  }

  .checkout-component {
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;

    .mobile-checkout-container {
      display: none;
    }

    .checkout-cart-items {
      .desktop-checkout-container {
        display: block;
      }
    }

    .checkout-cart-items {
      width: 400px;
      height: auto;
      display: block;
      margin-left: 20px;
      margin-bottom: 0;
      position: sticky;
      top: 100px;
      left: 0;
    }
  }
}

@media (max-width: 1100px) {
  .testimonial-div {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    > div {
      margin: 20px 0;
    }

    div:nth-child(1) {
      background-color: rgb(143, 83, 83);
      width: 100px;
      height: 100px;
      align-self: center;
      border-radius: 10px;

      img {
        width: 120px;
        margin: 40px 0 0 50px;
        border-radius: 5px;
      }
    }
  }

  .our-info-section {
    height: auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
  }

  .our-info-section h2 {
    margin: 30px 0;
  }

  .our-info-section h2:after {
    margin: auto;
    margin-top: 10px;
  }

  .instagram-feed {
    justify-items: center;
  }
}
